.paymentpage {
   .payment {
      .content {
         width: 90%;
         margin: auto;

         form {
            margin: 2rem 0;

            div {
               .btn {
                  width: 100%;
               }
            }
         }
      }
   }
}
